<!-- <!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Login</button>
    </form>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
    <title>Change-password</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container change-password-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Change pasword</h1>
                <input name="password1" id="1"  type="password" placeholder="Password" required/>
                <input name="password2" id="2" type="password" placeholder="Password confirmation" required/>
                <p id="error" style="color: red; display: none;">Passwords are not the same!</p>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
<script>
    const password1 = document.getElementById("1");
    const password2 = document.getElementById("2");
    const error_message = document.getElementById("error");
    password1.focus();
    password2.addEventListener("input", function () {
        console.log(password2.value)
        if(password2.value === ""){
            error_message.style.display = "none";
        } else{ 

            if (password1.value != password2.value){
                error_message.style.display = "block";
            } else{
                error_message.style.display = "none";
            };
        };
    });
</script>
</body>
</html>
