{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="icon" style="font-size: 25;" href="{% static 'lamp 2.0.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maname&display=swap" rel="stylesheet">
    <title>{{ chat.chat_name }}</title>
</head>
<body>
    <h1 style="margin-left: 25px; margin-top: 30px; position: relative; color: white;">{{ user.username }}:</h1>
    <ul id="scrollableContainer" class="messages">
        {% for message in messages %}
            {% if message.sender == user %}
            <li id="{{ message.id }}" class="sender">
                <p id="message">{{ message.message }}</p>
                <div id="message-info">
                    {% if message.timestamp.minute < 10 %}
                        <p id="timestamp">{{ message.timestamp.hour }}. 0{{ message.timestamp.minute }}</p>
                    {% else %}
                        <p id="timestamp">{{ message.timestamp.hour }}. {{ message.timestamp.minute }}</p>
                    {% endif %}
                    <!-- {% if message.read_status %}
                        <i id="double-check" class="fa-solid fa-check-double"></i>
                    {% else %}
                        <i id="check" class="fa-solid fa-check"></i>
                    {% endif %} -->
                </div>
            </li>
            
            {% else %}
                {% if message.read_status == True %}
                    <li id="{{ message.id }}" class="recipient read">
                        <p id="message">{{ message.message }}</p>
                        <div id="message-info">
                            <p id="recip">{{ user.username }}</p>
                            {% if message.timestamp.minute < 10 %}
                                <p id="timestamp">{{ message.timestamp.hour }}. 0{{ message.timestamp.minute }}</p>
                            {% else %}
                                <p id="timestamp">{{ message.timestamp.hour }}. {{ message.timestamp.minute }}</p>
                            {% endif %}
                        </div>
                    </li><br>
                {% else %}
                    <li id="{{ message.id }}" class="recipient unread">
                        <p id="message">{{ message.message }}</p>
                        <div id="message-info">
                            <p id="recip">{{ user.username }}</p>
                            {% if message.timestamp.minute < 10 %}
                                <p id="timestamp">{{ message.timestamp.hour }}.0{{ message.timestamp.minute }}</p>
                            {% else %}
                                <p id="timestamp">{{ message.timestamp.hour }}.{{ message.timestamp.minute }}</p>
                            {% endif %}
                        </div>
                    </li><br>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <form autocomplete="off" id="message-form"  class="message-input-container">
        {% csrf_token %}
        <div id="errorMessage">
            <p>You have exceeded the character limit!</p>
        </div>
        <input onkeydown="countSimboles()" name="message" class="message-input" id="textInput" placeholder="Enter message"></input>
        <span id="charCount" style="color: white; margin-left: 20px; font-size: 20px;">0/500</span>

        <button type="submit" id="send" style="margin-left: 10px; background: none; border: none;"><i class="fa-solid fa-paper-plane fa-2xl" style="color: #74C0FC;"></i></button>
    </form>

    <script>
        var socket_type = "connecting"
        let url = 'ws://'+ window.location.host+'/ws/chat/'+'{{chat.chat_name}}'+'/';
        const socket = new WebSocket(url);
        
        let form = document.getElementById("message-form")

        var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value
        const textInput = document.getElementById('textInput');
        const charCount = document.getElementById('charCount');
        const errorMessage = document.getElementById('errorMessage');
        const maxLength = 500;
        const container = document.getElementById('scrollableContainer');
        const visibleElements = getVisibleElements(container);
        if (visibleElements != []){
            changeReadStatus(visibleElements)
        };

        form.addEventListener("submit", (e)=> {
            if (socket_type === "connect"){
                e.preventDefault();
                let message = e.target.message.value;
                if (message != ''){
                    socket.send(JSON.stringify({
                        'type': 'message',
                        'message': message,
                        'chat_name': '{{chat.chat_name}}',
                        'username': '{{user.username}}',
                    }));
                    form.reset();
                };
            };
        });

        socket.onopen = function(event) {
            socket_type = "connect"
            console.log('Connection established');
        };

        socket.onmessage = function(e){
            let data = JSON.parse(e.data);
            if ( data.type === "chat" ){
                let messages = document.getElementById("scrollableContainer");
                if (data.timestamp[4]<10){
                    var minute = '0'+data.timestamp[4];
                } else{
                    var minute = data.timestamp[4];
                };
                if (data.user_id == '{{user.id}}'){
                    let user_type = 'sender';

                    // if (data.read_status){
                    //     var check_cla = `id="double-check" class="fa-solid fa-check-double"`;
                    // } else {
                    //     var check_class = `id="check" class="fa-solid fa-check"`;
                    // };

                    var html_message = `<li id="${data.id}" class="sender"><p id="message">${data.message}</p><div id="message-info"><p id="timestamp">${data.timestamp[3]}. ${minute}</p>`; // <i ${check_class}></i></div></li>
                } else {
                    let user_type = 'recipient';
                    if (data.read_status){
                        let message_class = "recipient read";
                    } else {
                        let message_class = "recipient unread";
                    };

                    var html_message = `<li id="${data.id}" class=${message_class}><p id="message">${data.message}</p><div id="message-info"><p id="recip">${username}</p><p id="timestamp">${data.timestamp[3]}. ${minute}</p></div></li><br>`;
                };
                messages.insertAdjacentHTML('beforeend', html_message);
                container.scrollTop = container.scrollHeight;
                countSimboles()
            } else if (data.type === "read_status"){
                console.log(data.message)
                element.className = "recipient read"
            };
        };
        
        window.onload = function() {
            var container = document.getElementById('scrollableContainer');
            container.scrollTop = container.scrollHeight;
            document.getElementById("textInput").focus();
        };

        function countSimboles() {
            const currentLength = textInput.value.length;
            charCount.textContent = `${currentLength}/${maxLength}`;

            if (currentLength > maxLength) {
                errorMessage.style.display = 'block';
                textInput.value = textInput.value.substring(0, maxLength);
                charCount.textContent = `${maxLength}/${maxLength}`;
            } else {
                errorMessage.style.display = 'none';
            };
        }

        function saveObject(element) {
            console.log("connect")
            if (socket_type == "connect"){
                socket.send(JSON.stringify({
                    "type": "read_status",
                    "id": element.id
                }))
            };
        }
        
        function changeReadStatus(elements){
            elements.forEach(element => {
                saveObject(element);
            });
        };

        function handleEnterPress(event) {
            if (event.keyCode === 13) {
                var button = document.getElementById("send");
                button.click();
            
            };
        };

        function getVisibleElements(container) {
            const containerRect = container.getBoundingClientRect();
            const elements = container.children;
            const visibleElements = [];

            for (let element of elements) {
                const elementRect = element.getBoundingClientRect();

                if (
                    elementRect.top >= containerRect.top &&
                    elementRect.bottom <= containerRect.bottom &&
                    elementRect.left >= containerRect.left &&
                    elementRect.right <= containerRect.right
                ) {
                    if (element.className === "recipient unread"){
                        visibleElements.push(element);
                    };
                };
            };
            return visibleElements;
        };

        textInput.addEventListener("keydown", handleEnterPress);
        
        container.addEventListener('scroll', () => {
            const visibleElements = getVisibleElements(container);
            if (visibleElements != []){
                changeReadStatus(visibleElements)
            };
        });

        

        textInput.addEventListener('input', countSimboles);

    </script>
</body> 
</html>
