<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{ summary.sender.first_name }} {{ summary.sender.last_name }}</h1>
        {{ summary.degree }} <br>
        {{ summary.universyty }} <br>
        <img src="https://localhost:8000/files/{{ summary.diploma.name }}"> <br>
        {{ summary.training }} <br>
        {{ summary.avanced_curses }} <br>
        {{ summary.description }} <br>
        {{ summary.science_interestings }} <br>
        {{ summary.achievements }} <br>
        {{ summary.work_area }} <br>
        {{ summary.often_questions }} <br>
        {{ summary.experience }} <br>
        {{ summary.something_to_add }} <br>
        <a href="{% url 'confirm_summary' summary.id %}">Confirm summary</a>
        <a href="{% url 'summary_mistakes' summary.id %}">Reject summary</a>
    </div>
</body>
</html>