<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{ summary.sender.first_name }} {{ summary.sender.last_name }}</h1>
        {{ summary.advanced_study }}
        {{ summary.additional_studing }}
        {% for i in summary.universyty.all %}
            {{ i.end_year }}
            {{ i.referal }}
            {{ i.degree }}
            {{ i.facs }}
            {{ i.universyty }}
            {{ i.diploma }}
        {% endfor %}
        <a href="{% url 'confirm_summary' summary.id %}">Confirm summary</a>
        <a href="{% url 'summary_mistakes' summary.id %}">Reject summary</a>
    </div>
</body>
</html>